
.message {
    padding: 10px 10px;
    display: flex;
    align-items: baseline;
}

.message:hover {
    background-color: #f8f8f8;
}

.message-ts {
    color: #717274;
    font-size: 12px;
    padding-right: 15px;
    flex-shrink: 0;
}

.message-ts a {
    text-decoration: inherit;
    color: inherit;
}

.message-content {
    font-size: 15px;
    color: #2c2d30;
}

.message-author-name {
    font-weight: bold;
    margin-left: -10px;
    margin-right: 5px;
}

.message-header {
    word-wrap: break-word;
    width: auto;
    margin-bottom: 4px;
}

.message-attachment-border {
    background-color: #e8e8e8;
    border-radius: 8px;
    flex-shrink: 0;
    width: 4px;
}

.message-attachment {
    display: flex;
}

.message-attachment-content {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
}

.message-attachment-selftext {
    font-size: 14px;
}

.message-attachment-selftext pre {
    white-space: inherit;
}

.preview-pic {
    max-width: 500px;
    max-height: 500px;
}

.preview-pic iframe {
    max-width: 500px;
    max-height: 500px;
}

.fa-redirect {
    padding-left: 10px;
    color: black;
}

.fa-redirect:hover {
    color: dodgerblue;
    cursor: pointer;
}

.emoji-bar {
    margin-top: 10px;
    margin-left: 10px;
}

.fa-emoji {
    font-size: 11px;
    line-height: 16px;
    padding: 2px 3px;
    display: inline-flex;
    align-items: center;
    vertical-align: top;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

.fa-emoji .fas {
    font-size: 14px;
}

.emoji-reaction-count {
    color: #616061;
    padding: 0 1px 0 3px;
}